### Iterations

In [3]:
name = "Bayo"
age =  70
height = 8.7

In [24]:
num1 = 40
num2 = 40
### PEDMAS

In [ ]:
True
False

In [7]:
num2 > num1

True

In [25]:
if num2 > num1:
    print("Kill my enemies")
    print("Bring me my dinner")
    print("See you later")
elif num2 < num1:
    print("Num2 is less than Num1")
else:
    print('I do not know where you belong')

I do not know where you belong

## TRUTH TABLE
- *or*
- *and*

#### OR

In [ ]:
# A OR B 
# You only have false when A and B are False

#### AND

In [ ]:
# A and B
# You only have True when A and B are True

### Basic to revise conditional Statements

**Write a Python script that collects the temperature of the day and the plan of a client to help determine what to go out with**

In [ ]:
# temp = 32.6
# plan = "Yes"

In [32]:
# Collecting input data from users
temp = input("What is the temperature like today in your country? ")
plan = input("Are you planning to go out today ? Yes or No ")

# Casting our data type
temp = float(temp)
plan = plan.lower()

# Conditional Statements
if temp <= 20 and plan == "yes":
    print("Take your umbrella and jacket")
elif temp <= 20 and plan == "no":
    print("Put on the heater")
elif temp > 20 and plan == "yes":
    print("We have a good weather out there. Enjoy!")
else:
    print("No comment")

What is the temperature like today in your country?  30
Are you planning to go out today ? Yes or No  yES

We have a good weather out there. Enjoy!

**Updated format**

In [30]:
if temp <= 20:
    if plan == "yes":
        print("Take your umbrella and jacket")
    elif plan == "no":
        print("Put on the heater")
elif temp > 20:
    if plan == "yes":
        print("We have a good weather out there. Enjoy!")
    elif plan == "no":
        print("Get a good movie and watch")
else:
    print("No comment")

'GOD'

### While - Loop

In [34]:
print("Portia")
print("Portia")
print("Portia")
print("Portia")
print("Portia")
print("Portia")
print("Portia")
print("Portia")
print("Portia")
print("Portia")

Portia
Portia
Portia
Portia
Portia
Portia
Portia
Portia
Portia
Portia

In [ ]:
#while condition:
- #action statements

In [1]:
a = 0

In [2]:
a < 10

True

In [40]:
while a < 10:
    print(a)
    print("Portia")
    a = a + 1

0
Portia
1
Portia
2
Portia
3
Portia
4
Portia
5
Portia
6
Portia
7
Portia
8
Portia
9
Portia

In [41]:
7 % 2

1

**Break Statement**

In [46]:
a = 1
while a < 10:
    if a == 5:
        break
    print("Portia")
    a = a + 1
print("Thank you")

Portia
Portia
Portia
Portia
Thank you

**Continue Statement**

In [3]:
a = 0
while a < 10:
    print(a)
    a = a + 1
    if a == 5:
        continue
    print("Portia")
print("Thank you")

0
Portia
1
Portia
2
Portia
3
Portia
4
5
Portia
6
Portia
7
Portia
8
Portia
9
Portia
Thank you

In [55]:
range(1, 20)

range(1, 20)

### For - Loop

In [ ]:
#for arbitriary_variable in items:
    # action statements

In [69]:
for a in range(11):
    print(a)
    # action statements
    print("Portia")

0
Portia
1
Portia
2
Portia
3
Portia
4
Portia
5
Portia
6
Portia
7
Portia
8
Portia
9
Portia
10
Portia

In [58]:
for a in range(1, 11):
    print(a)
    # action statements
    print("Portia")

1
Portia
2
Portia
3
Portia
4
Portia
5
Portia
6
Portia
7
Portia
8
Portia
9
Portia
10
Portia

In [ ]:
#range(start, end)
start, start+1, start+2, ..., end-1

#range(start, end, skip)
start, start+skip, start+2skip, ..., end-1

In [59]:
for a in range(1, 11, 2):
    print(a)
    # action statements
    print("Portia")

1
Portia
3
Portia
5
Portia
7
Portia
9
Portia

**Question: Write a Python Program to print the even numbers and odd numbers between 1 and the age of a client**

In [60]:
age = input('What is your age?')
age = int(age)

What is your age? 60

In [61]:
age

60

In [66]:
## Even Numbers
for x in range(2, age+1, 2):
    print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60

In [68]:
## Odd Numbers
for x in range(1, age, 2):
    print(x)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59

In [70]:
fav_foods = ["potato", "yam", "rice", "gelato", "sushi"]

In [71]:
type(fav_foods)

list

In [72]:
for x in fav_foods:
    print(x)

potato
yam
rice
gelato
sushi

In [73]:
for x in fav_foods:
    append_word = "I love " + x
    print(append_word)

I love potato
I love yam
I love rice
I love gelato
I love sushi

In [83]:
for x in fav_foods:
    if len(x) >= 5:
        appended_sent = "I love " + x
        print(appended_sent)

I love potato
I love gelato
I love sushi

In [74]:
len("Bayo")

4

In [82]:
len("rice") > 5

False

Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

In [98]:
for num in range(1500, 2701):
    if num % 7 == 0:
        if num % 5 == 0:
            print(num)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [102]:
for num in range(1500, 2701):
    if (num % 7 == 0) and (num % 5 == 0):
        print(num)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [101]:
1925/5

385.0

In [93]:
2149/7

307.0

In [94]:
307*7

2149

Write a Python program to count the number of even and odd numbers from a series of numbers.

In [112]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
even_count = 0
odd_count = 0 
for each in numbers:
    # Even number conditions and counting
    if each % 2 == 0:
        even_count = even_count + 1
    # odd number conditions and counting
    elif each % 2 != 0:
        odd_count = odd_count + 1

print("The total even count is", even_count)
print("The total odd count is", odd_count)

The total even count is 4
The total odd count is 5

In [109]:
(5 % 2) != 0

True